@use '../../variables/main.scss' as variables;
@use '../../mixins/main.scss' as mixins;

.page {
  padding: 5rem 10rem;

  @include mixins.respond(tab-land) {
    padding: 3rem;
  }

  @include mixins.respond(phone-lg) {
    padding: 3rem 2rem;
  }
}

.wave {
  font-size: 7rem;
  max-width: 90rem;
  margin: auto;
  margin-bottom: 3rem;
  font-weight: variables.$fw-medium;
  color: variables.$color-gray-dark;
  text-align: center;

  @include mixins.respond(laptop-lg) {
    font-size: 5rem;
  }

  @include mixins.respond(tab-land) {
    font-size: 4rem;
    text-align: left;
  }

  @include mixins.respond(phone-lg) {
    font-size: 3.25rem;
  }
}

.name {
  font-size: 8rem;
  font-weight: variables.$fw-extra-bold;
  line-height: 1.2;
  text-align: center;
  color: variables.$color-secondary;
  max-width: 140rem;
  margin: auto;
  margin-bottom: 2rem;

  @include mixins.respond(laptop-lg) {
    font-size: 6.5rem;
  }

  @include mixins.respond(tab-land) {
    font-size: 5rem;
    text-align: left;
  }

  @include mixins.respond(phone-lg) {
    font-size: 4.5rem;
  }
}

.description {
  font-size: 2rem;
  font-weight: variables.$fw-normal;
  line-height: 1.5;
  color: variables.$color-gray-light;
  margin: auto;
  margin-bottom: 4rem;
  text-align: center;
  max-width: 90rem;

  @include mixins.respond(tab-land) {
    font-size: 1.8rem;
    text-align: left;
  }

  @include mixins.respond(phone-lg) {
    font-size: 1.75rem;
  }
}

.action {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;

  @include mixins.respond(phone-lg) {
    flex-direction: column;

    & > * {
      width: 100%;
    }
  }
}
