@use '../../variables/main.scss' as variables;
@use '../../mixins/main.scss' as mixins;

.page {
  padding: 5rem 10rem;

  @include mixins.respond(tab-land) {
    padding: 3rem;
  }

  @include mixins.respond(phone-lg) {
    padding: 1rem 2rem;
    padding-top: 3rem;
  }
}

.techStack {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.workList {
  grid-gap: 3rem;
  margin-top: 5rem;
  margin-bottom: 8rem;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.projectsList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-gap: 3rem;

  @include mixins.respond(phone-md) {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }
}

.tabs {
  justify-content: center;
  margin-bottom: 3rem;
}

.heading {
  font-size: 5rem;
  text-transform: uppercase;
  color: variables.$color-secondary;
  text-align: center;
  margin-bottom: 3rem;

  @include mixins.respond(desktop-sm) {
    font-size: 3.5rem;
  }

  @include mixins.respond(laptop-md) {
    font-size: 5.5rem;
  }

  @include mixins.respond(laptop-md) {
    font-size: 4.5rem;
  }
}
