@use '../variables/main.scss' as variables;
@use '../mixins/main.scss' as mixins;

@each $colorValue, $colorKey in variables.$colors-theme {
	.btn__#{$colorValue} {
		@include mixins.solid-button(
			$color-bg: $colorKey,
			$color-text: variables.$color-white
		);
	}

	.btn__#{$colorValue}--outline {
		@include mixins.outline-button(
			$color-bg: $colorKey,
			$color-text: $colorKey,
			$color-hover-bg: $colorKey
		);
	}
}

.btn--large {
	padding: 1.5rem 3rem;
	font-size: 1.8rem;
}

.btn--medium {
	padding: 1.2rem 2rem;
	font-size: 1.6rem;
}
