@use '../../variables/main.scss' as variables;
@use '../../mixins/main.scss' as mixins;

.root {
  padding: 2rem 1.5rem;
  border-radius: 10px;
  position: relative;
  min-height: 60rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border: 1px solid rgba(variables.$color-gray-light, 0.15);

  @include mixins.respond(tab-land) {
    min-height: 0;
  }
}

.techStack {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.media {
  position: relative;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  background: map-get(variables.$colors, 'gray-100');
  margin-bottom: 1rem;
}

.content {
  flex: 1;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.description {
  font-size: 1.55rem;
  margin-bottom: 3rem;
  display: flex;
  line-height: 1.6;
  color: variables.$color-gray-dark;
}

.cta {
  display: flex;
  align-items: flex-end;
  gap: 2rem;
}
