@use '../../variables/main.scss' as variables;
@use '../../mixins/main.scss' as mixins;

.root {
  padding: 2rem 1.5rem;
  border-radius: 10px;
  position: relative;
}

.techStack {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-bottom: 1rem;
}

.media {
  position: relative;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  background: map-get(variables.$colors, 'gray-100');
  margin-bottom: 1rem;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
}

.description {
  font-size: 1.55rem;
  margin-bottom: 3rem;
  display: flex;
  line-height: 1.6;
  color: variables.$color-gray-dark;
}

.cta {
  display: flex;
  align-items: center;
  gap: 2rem;
}
