---
export interface Props {
  text: string;
}

const text = Astro.props.text;
---

<button class="tooltip" aria-describedby="Tooltip" role="tooltip">
  <span class="tooltip__item">
    <slot />
  </span>
  <span class="tooltip__text">{text}</span>
</button>

<style lang="scss" scoped>
  @use '../../scss/variables/main.scss' as variables;
  @use '../../scss/mixins/main.scss' as mixins;

  .tooltip {
    top: 0;
    left: 0;
    background: map-get(variables.$colors, 'gray-100');
    transition: opacity 0.1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    position: relative;

    background: none;
    padding: 0;
    margin: 0;
    border: none;
  }

  .tooltip__item {
    cursor: pointer;
  }

  .tooltip__text {
    visibility: hidden;
    opacity: 0;

    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%, -100%);
    background-color: rgba(variables.$color-gray-dark, 0.8);
    padding: 1rem;
    border-radius: 10px;

    font-size: 1.4rem;
    transition: all 0.3s ease-out;

    width: max-content;
    color: variables.$color-white;
  }

  .tooltip:hover .tooltip__text,
  .tooltip:focus .tooltip__text {
    visibility: visible;
    opacity: 1;
  }
</style>
