@use '../variables/main.scss' as variables;
@use '../mixins/main.scss' as mixins;

.default-toggler {
	display: none;

	@include mixins.respond(tab-land) {
		display: flex;

		background-color: transparent;
		border: none;
		height: 4rem;
		width: 4rem;

		align-items: center;
		justify-content: center;
	}
}

.default-sidebar {
	position: fixed;
	height: 100%;
	width: 85%;
	top: 0;
	left: 0;
	background-color: variables.$color-white;
	z-index: 10;
	padding: 2rem;
	list-style: none;
	display: none;

	&--hide {
		transform: translateX(-100%);
	}

	&--show {
		transform: translateX(0);
	}

	@include mixins.respond(tab-land) {
		display: block;
	}
}

.default-sidebar li {
	margin-bottom: 4rem;
}

.default-sidebar__logo {
	margin-bottom: 5rem;
}

.default-sidebar__backdrop {
	display: none;

	@include mixins.respond(tab-land) {
		display: block;
	}
}
