@use '../variables/main.scss' as variables;

%button {
  font-weight: variables.$fw-semi-bold;
  cursor: pointer;
  transition: all 0.3s ease-out;
  border-radius: 15px;
  text-transform: capitalize;
}

@mixin solid-button($color-bg, $color-text) {
  &,
  &:link {
    @extend %button;

    border: 1.5px solid $color-bg;
    background-color: $color-bg;
    color: $color-text;
  }

  &:hover,
  &:focus-visible {
    background-color: darken($color-bg, 10%);
    border: 1.5px solid darken($color-bg, 10%);
    color: $color-text;
  }
}

@mixin outline-button($color-bg, $color-text, $color-hover-bg) {
  &,
  &:link {
    @extend %button;

    border: 1.5px solid $color-bg;
    background-color: transparent;
    color: $color-text;
  }

  &:hover,
  &:focus-visible {
    background-color: rgba($color-hover-bg, 0.1);
  }
}
