@use '../variables/main' as variables;

*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: variables.$ff-default;
}

a {
  color: inherit;
  text-decoration: none;
}

a,
button {
  outline: none;

  &:focus-visible {
    outline-style: dotted;
    outline-width: 2px;
    outline-offset: 1px;
    outline-color: variables.$color-secondary;
  }
}
