@use '../variables/main.scss' as variables;

.page {
  padding: 5rem 10rem;
}

.wave {
  font-size: 7rem;
  font-weight: variables.$fw-normal;
  margin-bottom: 3rem;
}

.name {
  font-size: 8rem;
  font-weight: variables.$fw-extra-bold;
  max-width: 90rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.description {
  font-size: 2rem;
  font-weight: variables.$fw-normal;
  max-width: 90rem;
  line-height: 1.5;
  color: variables.$color-gray-light;
  margin-bottom: 3rem;
}

.action {
  display: flex;
  align-items: center;
  gap: 2rem;
}
