@use '../../mixins/main.scss' as mixins;

.contact-form {
	flex-basis: 40%;

	@include mixins.respond(laptop-md) {
		flex-basis: 50%;
	}

	@include mixins.respond(phone-lg) {
		padding-bottom: 1.5rem;
	}
}

.contact-form__toast {
	font-size: 1.6rem;

	svg {
		width: 2rem;
		height: 2rem;
	}
}
