---
import Html from '@/layouts/html.astro';
---

<Html>
  <div class="not-found">
    <h1 class="not-found__heading">404 | Page Not Found</h1>
    <p class="not-found__description">
      Sorry, we couldn't find the page you were looking for.
    </p>

    <div class="not-found__available available">
      <h2 class="available__heading">Here are some available pages:</h2>
      <ul class="available__nav">
        <li>
          <a class="available__nav-link" href="/">Home</a>
        </li>
        <li>
          <a class="available__nav-link" href="/about">About</a>
        </li>
        <li>
          <a class="available__nav-link" href="/work">Work</a>
        </li>
        <li>
          <a class="available__nav-link" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</Html>

<style lang="scss" scoped>
  @use '../scss/variables/main.scss' as variables;
  @use '../scss/mixins/main.scss' as mixins;

  .not-found {
    padding: 4rem;
    text-align: center;
    color: variables.$color-gray-dark;

    @include mixins.respond(tab-land) {
      padding: 3rem;
    }

    @include mixins.respond(phone-lg) {
      padding: 1rem 2rem;
      padding-top: 3rem;
    }
  }

  .not-found__heading {
    font-size: 4rem;
    margin-bottom: 1.6rem;
    color: variables.$color-black;
  }

  .not-found__description {
    font-size: 2rem;
  }

  .not-found__available {
    margin-top: 8rem;
  }

  .available__heading {
    font-size: 2.75rem;
    margin-bottom: 2rem;
    color: variables.$color-black;
  }

  .available__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.8rem;
  }

  .available__nav-link {
    font-size: 1.6rem;
    font-weight: 500;

    &:where(:hover, :focus-visible) {
      color: variables.$color-primary;
    }
  }
</style>
