---
import DefaultLayout from '../layouts/default/default.layout.astro';
---

<DefaultLayout title='About'>
	<section class='about'>
		<h1 class='about__heading'>Hello Again! 👋</h1>
		<div class='about__content'>
			<p>
				I&apos;m a full-stack web developer with a passion for creating
				beautiful and functional websites.
			</p>
			<p>
				I&apos;ve always been interested in technology and how it can be used to
				make our lives easier. I like to learn new things and I&apos;m always up
				for a challenge.
			</p>
			<p>
				At the height of the pandemic, I invested heavily in self-development
				and building my skills as a developer. The skills I&apos;ve learned have
				led me to a career in web development and have given me the tools
				required to build effective and efficient websites.
			</p>
			<p>Recently, I worked at CleverTap as a frontend developer intern.</p>
		</div>

		<div class='about__action'>
			<a href='/work'> My Work</a>
			<a href='/contact'> Contact Me</a>
		</div>
	</section>
</DefaultLayout>

<style lang='scss' scoped>
	@use '../scss/variables/main.scss' as variables;
	@use '../scss/mixins/main.scss' as mixins;

	.about {
		padding: 5rem 10rem;
		color: variables.$color-secondary;
		margin: 0 auto;
		max-width: 105rem;

		@include mixins.respond(tab-land) {
			padding: 3rem;
		}

		@include mixins.respond(phone-lg) {
			padding: 1rem 2rem;
		}
	}

	.about__heading {
		text-align: center;
		font-size: 5rem;
		margin-bottom: 6rem;

		@include mixins.respond(tab-land) {
			font-size: 3.5rem;
			margin-bottom: 3rem;
			margin-top: 2rem;
			text-align: left;
		}
	}

	.about__content p {
		font-size: 2.5rem;
		line-height: 1.5;
		margin-bottom: 2rem;

		@include mixins.respond(tab-land) {
			font-size: 2rem;
		}
	}

	.about__action {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 2rem;

		@include mixins.respond(tab-land) {
			flex-direction: column;
			padding-bottom: 2rem;

			& > * {
				width: 100%;
			}
		}
	}
</style>
