---
import DefaultLayout from '../layouts/default/default.layout.astro';
---

<DefaultLayout title='Contact'>
	<div class='contact'>
		<div class='contact__content'>
			<h1>Get in touch</h1>
			<p>Fill out the form and I&apos;ll get back to you as soon as I can.</p>
			<p>
				Alternatively, you can email me at{' '}
				<a href='mailto:sreekarnv1@gmail.com' target='_blank'>
					sreekarnv1@gmail.com
				</a>
			</p>
			<p>
				Or you can find me on{' '}
				<a
					href='https://www.linkedin.com/in/sreekar-venkata-nutulapati-63672120a/'
					target='_blank'
				>
					LinkedIn
				</a>
				,&nbsp;
				<a href='https://github.com/sreekarnv' target='_blank'>Github</a>
			</p>
		</div>
		<form class='contact__form' novalidate>
			<div>
				<label for='name'>Name</label>
				<input type='text' id='name' required />
			</div>
			<div>
				<label for='email'>Email</label>
				<input type='email' id='email' required />
			</div>
			<div>
				<label for='message'>Message</label>
				<textarea id='message' rows={5} required></textarea>
			</div>
			<button type='submit'>Submit</button>
		</form>
	</div>
</DefaultLayout>

<style lang='scss' scoped>
	@use '../scss/variables/main.scss' as variables;
	@use '../scss/mixins/main.scss' as mixins;

	.contact {
		padding: 5rem 10rem;

		display: flex;
		justify-content: space-between;

		@include mixins.respond(laptop-md) {
			padding: 4rem;
			gap: 1rem;
		}

		@include mixins.respond(tab-land) {
			padding: 3rem;

			flex-direction: column;
		}

		@include mixins.respond(phone-lg) {
			padding: 1rem 2rem;
		}
	}

	.contact__content {
		flex-basis: 50%;
	}

	.contact__form {
		flex-basis: 40%;

		@include mixins.respond(laptop-md) {
			flex-basis: 50%;
		}

		@include mixins.respond(phone-lg) {
			padding-bottom: 1.5rem;
		}
	}

	.contact__form div {
		margin-bottom: 2rem;
	}

	.contact__content h1 {
		font-size: 5rem;
		font-weight: 500;
		margin-bottom: 3.5rem;

		@include mixins.respond(tab-land) {
			font-size: 3.5rem;
			margin-top: 2rem;
		}
	}

	.contact__content p {
		font-size: 2.5rem;
		line-height: 1.5;
		margin-bottom: 3rem;

		@include mixins.respond(tab-land) {
			font-size: 2rem;
		}
	}

	.contact__content p a {
		text-decoration: underline;
		transition: all 0.3s ease-out;
		color: variables.$color-primary;
	}
</style>
