---
import DefaultLayout from '@/layouts/default/default.layout.astro';
import { getCollection } from 'astro:content';
import ProjectCard from '@/components/work/project-card.astro';
import WorkexCard from '@/components/work/workex-card.astro';

const projects = await getCollection('projects');
const work = await getCollection('work');
---

<DefaultLayout title="Work">
  <div class="work">
    <section class="work__experience">
      <h1 class="work__heading">Work Experience</h1>
      <ul class="work__experience__list">
        {
          work.map((work) => {
            return (
              <>
                <li>
                  <WorkexCard work={work.data} />
                </li>
              </>
            );
          })
        }
      </ul>
    </section>

    <section class="work__projects">
      <h1 class="work__heading">Projects</h1>

      <div class="work__tabs">
        <button data-tab="all" class="work__tab work__tab--active">All</button>
        <button data-tab="frontend" class="work__tab">Frontend</button>
        <button data-tab="full-stack" class="work__tab">Full Stack</button>
        <button data-tab="blockchain" class="work__tab">Blockchain</button>
      </div>
      <ul class="work__projects__list">
        {
          projects.map((project) => {
            return (
              <li>
                <ProjectCard project={project.data} />
              </li>
            );
          })
        }
      </ul>
    </section>
  </div>

  <script src="/src/app/pages/work.ts"></script>
</DefaultLayout>

<style lang="scss" scoped>
  @use '../scss/variables/main.scss' as variables;
  @use '../scss/mixins/main.scss' as mixins;

  .work {
    padding-top: 5rem;
    padding-bottom: 5rem;

    @include mixins.respond(phone-lg) {
      padding: 1rem;
      padding-top: 3rem;
    }
  }

  .work__heading {
    font-size: 5rem;
    text-transform: uppercase;
    color: variables.$color-secondary;
    text-align: center;
    margin-bottom: 3rem;
  }

  .work__tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;
    margin-bottom: 2rem;
  }

  .work__tab {
    font-size: 1.6rem;
    font-weight: 500;
  }

  .work__tab--active {
    color: variables.$color-primary;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 0.2rem;
      margin-top: 0.5rem;
      background-color: variables.$color-primary;
    }
  }

  .work__projects {
    padding-left: 10rem;
    padding-right: 10rem;

    @include mixins.respond(laptop-lg) {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    @include mixins.respond(phone-lg) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .work__projects__list {
    width: calc(100vw - 12rem);

    @include mixins.respond(laptop-lg) {
      width: 100%;
    }
  }

  .work__experience__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;

    padding: 5rem 10rem;

    @include mixins.respond(laptop-sm) {
      padding: 5rem 2rem;
    }

    @include mixins.respond(phone-lg) {
      padding: 2rem 0;
    }
  }
</style>
