@use '../../variables/main.scss' as variables;
@use '../../mixins/main.scss' as mixins;

.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 13rem;
  padding-top: 1rem;
  border-top: 2px solid variables.$color-gray-dark;
  color: variables.$color-black;
  transition: all 0.3s ease-out;

  &:focus-visible,
  &:hover {
    color: variables.$color-primary;
    border-top: 2px solid variables.$color-primary;
  }

  @include mixins.respond(desktop-sm) {
    min-width: 11rem;
  }
}

.content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.text {
  font-size: 1.6rem;
  font-weight: variables.$fw-bold;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
  font-size: 1.5rem;
}

.active {
  border-top: 2px solid variables.$color-primary;
  color: variables.$color-primary;
}
