<a class={'root'} href='/'>
	<img
		class={'image'}
		src='/logo.webp'
		height={60}
		width={60}
		alt='Sreekar Nutulapati'
	/>
	<div class={'content'}>
		<span class={'name'}>Sreekar Nutulapati</span>
		<span class={'designation'}>Developer</span>
	</div>
</a>

<style scoped lang='scss'>
	@use '../scss/variables/main.scss' as variables;
	@use '../scss/mixins/main.scss' as mixins;

	.root {
		display: flex;
		align-items: center;
		gap: 1.25rem;
	}

	.image {
		width: 6rem;
		height: 6rem;
		border-radius: 50%;

		@include mixins.respond(phone-lg) {
			width: 2rem !important;
			height: 2rem !important;
		}
	}

	.content {
		display: flex;
		flex-direction: column;
	}

	.name {
		font-size: 2.25rem;
		font-weight: variables.$fw-semi-bold;
		margin-bottom: 1rem;
		color: variables.$color-black;

		@include mixins.respond(phone-lg) {
			font-size: 2rem;
		}
	}

	.designation {
		font-size: 1.4rem;
		font-weight: variables.$fw-medium;
		text-transform: uppercase;
		letter-spacing: 2px;
		color: variables.$color-gray-light;

		@include mixins.respond(phone-lg) {
			font-size: 1.2rem;
		}
	}
</style>
