@use '../../mixins/main.scss' as mixins;

.root {
  position: static;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 3rem;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background: none;
  width: 100%;
  cursor: pointer;
}

.content {
  padding-top: 2rem;
}
