@use '../../variables/main.scss' as variables;
@use '../../mixins/main.scss' as mixins;

.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 10rem;

  @include mixins.respond(laptop-md) {
    padding: 3rem;
  }

  @include mixins.respond(tab-land) {
    padding: 2rem 1rem;
  }
}

.nav {
  display: flex;
  align-items: center;
  gap: 3rem;

  @include mixins.respond(tab-land) {
    display: none;
  }
}

.toggler {
  display: none;

  @include mixins.respond(tab-land) {
    display: flex;

    background-color: transparent;
    border: none;
    height: 4rem;
    width: 4rem;

    align-items: center;
    justify-content: center;
  }
}

.togglerIcon {
  background-color: variables.$color-gray-dark;
  width: 3rem;
  height: 3.5px;
  border-radius: 10px;
  position: relative;

  &::after,
  &::before {
    position: absolute;
    content: '';
    display: block;
    background-color: variables.$color-gray-dark;
    width: 3rem;
    height: 3.5px;
    border-radius: 10px;
  }

  &::before {
    top: -10px;
    left: 0;
  }

  &::after {
    top: 10px;
    left: 0;
  }
}
