@use '../../variables/main.scss' as variables;

.root {
  position: fixed;
  height: 100%;
  width: 85%;
  top: 0;
  left: 0;
  background-color: variables.$color-white;
  z-index: 10;
  padding: 2rem;
  list-style: none;
}

.root li {
  margin-bottom: 4rem;
}

.logo {
  margin-bottom: 5rem;
}
