$color-white: #ffffff;
$color-black: #000000;

$color-primary: #9a46dc;
$color-secondary: #101830;

$colors-theme: (
  'primary': $color-primary,
  'secondary': $color-secondary,
);

$colors-neutral: (
  'white': $color-white,
  'black': $color-black,
);

$colors: map-merge(
  $map1: $colors-theme,
  $map2: $colors-neutral,
);
