$color-white: #ffffff;
$color-black: #000000;

$color-primary: #518bff;
$color-secondary: #101830;

$color-gray-light: #667085;
$color-gray-dark: #3f4551;

$colors-theme: (
  'primary': $color-primary,
  'secondary': $color-secondary,
);

$colors-neutral: (
  'white': $color-white,
  'black': $color-black,
  'gray-light': $color-gray-light,
  'gray-dark': $color-gray-dark,
);

$colors: map-merge(
  $map1: $colors-theme,
  $map2: $colors-neutral,
);

$gradients: (
  'blue-pink': (
    'from': #d4f1f6,
    'to': #f6e2ec,
  ),
  'green-blue': (
    'from': #eeffe8,
    'to': #e8fcff,
  ),
  'orange-green': (
    'from': #cdf0e3,
    'to': #f6ece2,
  ),
  'yellow-purple': (
    'from': #f0eebf,
    'to': #ebcdf0,
  ),
);
