// Font Family
$ff-default: 'Inter', sans-serif;

$font-families: (
  'default': $ff-default,
);

// Font sizes
$fs-body: 62.5%;

// Font weights
$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 600;

$font-weights: (
  'light': $fw-light,
  'normal': $fw-normal,
  'medium': $fw-medium,
  'semi-bold': $fw-semi-bold,
  'bold': $fw-bold,
);
