---
import Html from '../html.astro';
import DefaultHeader from './default.header.astro';

export interface Props {
  title?: string;
}
---

<Html title={Astro.props.title}>
  <DefaultHeader />
  <main>
    <slot />
  </main>
</Html>
