---
import Logo from '@/components/shared/logo';
import DefaultLinksList from '@/layouts/default/default.links-list';
import DefaultSidebar from '@/layouts/default/default.sidebar';

const pathname = new URL(Astro.request.url).pathname;
---

<nav class="default-header">
  <Logo />

  <DefaultLinksList
    ulClass="default-header__nav"
    pathname={pathname}
    disableTextIcon
  />

  <DefaultSidebar client:load />
</nav>

<style lang="scss" scoped>
  @use '../../scss/variables/main.scss' as variables;
  @use '../../scss/mixins/main.scss' as mixins;

  .default-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 10rem;

    @include mixins.respond(laptop-md) {
      padding: 3rem;
    }

    @include mixins.respond(tab-land) {
      padding: 2rem 1rem;
    }

    @include mixins.respond(phone-lg) {
      padding: 1rem;
      padding-top: 1.5rem;
    }
  }
</style>

<style lang="scss" is:global>
  @use '../../scss/variables/main.scss' as variables;
  @use '../../scss/mixins/main.scss' as mixins;

  .default-header__nav {
    display: flex;
    align-items: center;
    gap: 3rem;

    @include mixins.respond(tab-land) {
      display: none;
    }
  }
</style>
